.payment label {
    font-weight: 600;
    color: #262e6a;
}

.payment button {
    padding: 8px 15px;
    border-radius: 5px;
    background: #262e6a;
    color: #fff;
    border:none;
    outline:none;
}